.Projects-Container {
  min-height: calc(100vh - 160px);
  width: calc(100vw - 60px);
  padding: 100px 30px 60px 30px;
  background-color: #2a2438;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.Projects-Container h1 {
  display: grid;
  grid-row: 1;
  grid-column: 1 / 4;
}

.Projects-Card {
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background-color: #dbd8e3;
  border: 3px solid #352f44;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 20px;
  flex-direction: column;
}

.Projects-Card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.Projects-Card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.Projects-Card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.Projects-Card h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.Projects-Card p {
  font-size: 18;
  color: #7d7d7d;
  font-weight: 400;
}

.Projects-Card-Top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.Projects-Card-Move {
  display: flex;
  margin-bottom: 10px;
}

.Circle {
  margin: 0 5px 0 5px;
  border-radius: 5px;
  height: 10px;
  width: 10px;
  background-color: #d7d7d7;
}

.Projects-Modal-Container {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  height: calc(100lvh);
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;
}

.Projects-Modal-Container.open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-out;
}

.Projects-Modal {
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
}

.Projects-Modal .content {
  padding: 60px 60px 0 60px;
  width: 100%;
  overflow-y: scroll;
}

.Projects-Modal h1 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  justify-self: center;
  align-self: center;
  font-weight: 400;
  color: transparent;
  transition: color 0.3s ease-out;
}

.Projects-Modal h2 {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.Projects-Modal video {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.Projects-Modal h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.Projects-Modal p {
  font-size: 18px;
  color: white;
}

.Projects-Modal img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 30px;
  object-fit: cover;
}

.Projects-Modal h1.shown {
  color: white;
}

.Projects-Modal.about {
  background-color: #f95959;
  transition: transform 0.3s ease-out;
}
.Projects-Modal.about:not(.has-opened).open {
  transition: transform 0.3s ease-out 0.4s;
}
.about.hover-not-selected,
.about.not-hover-not-selected {
  transform: translateX(calc(-100% + 120px));
  transition: transform 0.3s ease-out;
}
.about.not-hover-not-selected {
  transform: translateX(calc(-100% + 60px));
}
.Projects-Modal.about.has-opened.open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.Projects-Modal.tech {
  background-color: #455d7a;
  transition: transform 0.3s ease-out;
}
.Projects-Modal.tech:not(.has-opened).open {
  transition: transform 0.3s ease-out 0.2s;
}
.Projects-Modal.tech.has-opened.open {
  transform: translateX(60px);
  transition: transform 0.3s ease-out;
}
.Projects-Modal.tech.has-opened.open.extend {
  transform: translateX(120px);
}
.Projects-Modal.tech.has-opened.open.hide {
  transform: translateX(calc(-100% + 121px));
}
.Projects-Modal.tech.has-opened.open.exthide {
  transform: translateX(calc(-100% + 180px));
}

.Projects-Modal.gallery {
  background-color: #233142;
  transition: transform 0.3s ease-out;
}
.Projects-Modal.gallery.open {
  transform: translateX(120px);
}
.Projects-Modal.gallery.open.extend {
  transform: translateX(180px);
}
.Projects-Modal.gallery.open.none {
  transform: translateX(120px);
}
