.Projects-Container {
  min-height: calc(100vh - 160px);
  width: calc(100vw - 90px);
  padding: 100px 30px 60px 60px;
  background-color: #47455a;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.Projects-Container h1 {
  display: grid;
  grid-row: 1;
  grid-column: 1 / 4;
}

.Projects-Card {
  width: 570px;
  height: 500px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  transition: all 0.5s;
  display: inline-block;
  overflow: hidden;
}

.Projects-Card:hover {
  transform: scale(1.1);
}

.Projects-Card .content {
  padding: 20px;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, transparent, black);
  color: white;
  width: calc(100% - 40px);
  padding-top: 350px;
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
  pointer-events: none;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(50px);
  transition: transform 0.5s ease;
}

.Projects-Card:hover .content {
  transform: translateY(-100px);
}

.Projects-Card .content .description {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.Projects-Card:hover .content .description {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.Projects-Card .Skills-Container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.Projects-Card img {
  width: 110%;
  height: 110%;
  border-radius: 10px;
  object-fit: cover;
  vertical-align: middle;
  transition: width 0.5s ease, height 0.5s ease;
}

.Projects-Card img:hover {
  width: 100%;
  height: 100%;
}

.Projects-Card h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.Projects-Card p {
  font-size: 18;
  font-weight: 400;
}

.Projects-Modal-Container {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  height: calc(100lvh);
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;
}

.Projects-Modal-Container.open {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-out;
}

.Projects-Modal {
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.Projects-Modal .content {
  padding: 100px 60px 60px 60px;
  width: 100%;
  overflow-y: scroll;
}

.Projects-Modal h1 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  justify-self: center;
  align-self: center;
  font-weight: 400;
  color: transparent;
  transition: color 0.3s ease-out;
}

.Projects-Modal h2 {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.Projects-Modal video {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.Projects-Modal h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-top: 60px;
}

.Projects-Modal p {
  font-size: 18px;
  color: white;
}

.Projects-Modal .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.Projects-Modal img {
  width: 100%;
  max-height: 700px;
  border-radius: 10px;
  object-fit: cover;
}

.Projects-Modal .gallery-img {
  height: auto;
}

.Projects-Modal .caption {
  margin: 5px;
  text-align: center;
}

.Projects-Modal span {
  background-color: red;
}

.Projects-Modal h1.shown {
  color: white;
}

.Projects-Modal.about {
  background-color: #f95959;
  box-shadow: 30px 0 30px -30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;
}
.Projects-Modal.about:not(.has-opened).open {
  transition: transform 0.3s ease-out 0.4s;
}
.about.hover-not-selected,
.about.not-hover-not-selected {
  transform: translateX(calc(-100% + 120px));
  transition: transform 0.3s ease-out;
}
.about.not-hover-not-selected {
  transform: translateX(calc(-100% + 60px));
}
.Projects-Modal.about.has-opened.open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.Projects-Modal.tech {
  background-color: #455d7a;
  box-shadow: 30px 0 30px -30px rgba(0, 0, 0, 0.3);

  transition: transform 0.3s ease-out;
}
.Projects-Modal.tech:not(.has-opened).open {
  transition: transform 0.3s ease-out 0.2s;
}
.Projects-Modal.tech.has-opened.open {
  transform: translateX(60px);
  transition: transform 0.3s ease-out;
}
.Projects-Modal.tech.has-opened.open.extend {
  transform: translateX(120px);
}
.Projects-Modal.tech.has-opened.open.hide {
  transform: translateX(calc(-100% + 121px));
}
.Projects-Modal.tech.has-opened.open.exthide {
  transform: translateX(calc(-100% + 180px));
}

.Projects-Modal.gallery {
  background-color: #233142;
  transition: transform 0.3s ease-out;
}
.Projects-Modal.gallery.open {
  transform: translateX(120px);
}
.Projects-Modal.gallery.open.extend {
  transform: translateX(180px);
}
.Projects-Modal.gallery.open.none {
  transform: translateX(120px);
}
