.Projects-Container {
  min-height: calc(100vh - 160px);
  width: calc(100vw);
  padding: 100px 30px 60px 30px;
  background-color: #332b64;
  color: white;
}

.Projects-Card {
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  background: rgb(214, 214, 214);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
  font-weight: bolder;
  color: black;
  padding: 20px;
  flex-direction: column;
}

.Projects-Card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.Projects-Card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.Projects-Card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.Projects-Card h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.Projects-Card p {
  font-size: 18;
  color: #7d7d7d;
  font-weight: 400;
}
