.About-Container {
  min-height: calc(100vh - 190px);
  width: calc(100vw - 120px);
  background: #364851;
  padding: 60px;
}

.About-Container .content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 60px;
  grid-column-gap: 20%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding-top: 100px;
  padding-bottom: 100px;
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.About-Container .content.open {
  opacity: 1;
  transform: translateY(0);
}

.About-Container h1 {
  color: white;
  font-size: 32px;
}

.About-Container p {
  color: white;
  font-size: 18px;
}

.Description-Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  grid-column: 1;
  grid-row: 1 / 3;
}

.Skill-Container {
  grid-column: 2;
  padding: 15px 0 15px 30px;
  width: 362px;
  border-radius: 50px;
  background: #364851;
  box-shadow: 20px 20px 40px #2e3d45, -20px -20px 40px #3e535d;
}

.Skill-Container h1 {
  color: white;
  font-size: 24px;
}

.Skill-Container li {
  color: white;
  font-size: 18px;
}
